:root {
    /* --color1: #30a5a5;
    --color2: #a1ca81;
    --color3: #83a530;
    --color4: #d7e5cf; */
    --progress-color1: #fff;
    --progress-color2: #000;

    --color3: rgba(246, 81, 29, 1);
    --color4: rgba(255, 180, 0, 1);
    --color1: rgba(0, 166, 237, 1);
    --color2: rgba(127, 184, 0, 1);
    /* $color5: rgba(13, 44, 84, 1); */
    --progress-color1: rgba(0, 166, 237, 1);
    --progress-color2: rgba(13, 44, 84, 1);;

}
html {
    height:100%;
}
body {
    
    /* height:100%; */
    margin:0;
}
.site-wrap {
    background:    linear-gradient(var(--color1), var(--color2) );
    overflow: hidden;
}
.profile-box {
    margin:4rem auto;
    font-family: sans-serif;
    max-width:20rem;
    /* border: 1px solid #000; */
    box-shadow: 14px 14px 24px -1px rgba(3,3,3,0.19);
    padding:2rem;
    background: #fff url(../images/technology-1283624_1280.jpg) no-repeat center top;
    background-size: contain;
    overflow: hidden;
    position: relative;
}
.profile-text-bg {
    background: linear-gradient(var(--color3), var(--color4));
    width: 60rem;
    height: 60rem;
    margin: -5rem -20rem 0 -20rem;
    border-radius: 100rem;
    position: absolute;
    z-index: 1;
}
.profile-text {
    position: relative;
    z-index: 2;
}
.profile-pic {
    width:6rem;
    height:6rem;
    object-fit: cover;
    border-radius: 100rem;
    /* box-shadow: #000 5px 5px 5px; */
    margin: 0 auto 2rem auto;
    display:block;
    position: relative;
    z-index: 2;
    border: 0.2rem solid #fff;
}

h1 {
    font-size: 1.6rem;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}
h1 span {
    display: block;
    font-size: 1rem;
    margin-top:0.5em;
}

.skill-heading {
    text-transform: uppercase;
    color: #fff;
    font-size: 0.8rem;
    font-weight: normal;
    margin: 1em 0 0.2em 0;
    font-weight: bold;
}
.skill-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.skill-item {
    flex: 50%;
    list-style: none;
}
.skill-name {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #fff;
}
.skill-progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    display: block;
    height: 0.3rem;
    margin-bottom: 0.1rem;
}

.skill-progress::-webkit-progress-bar {
    /* background-color: :#30a5a5; */
    background: var(--progress-color2);
    border-radius: 2px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; */
}

.skill-progress::-webkit-progress-value {
    /* background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c, #f44);
   */
      /* border-radius: 2px;  */
      /* background-size: 35px 20px, 100% 100%, 100% 100%; */
    background: var(--progress-color1);
}